{% extends 'base.html' %} {% load static %} {% block title %}my_Course{% endblock %} {% load course_tags %} {% block content %}

<section class="py-13 pt-xl-14 mt-n13 pb-lg-12" style="background-image: linear-gradient(to right, #071a65, #ace1f8); color: white;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 col-lg-5 order-md-2" data-aos="fade-in">

                <!-- Image -->
                <img src="{% static 'assets/img/proimg.jpeg' %}" class="ms-xl-n11 mw-md-174 mb-6 mb-md-0" alt="..." style="height: 25rem;box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; border-radius: 1rem;">

            </div>

            <div class="col-12 col-md-7 col-lg-7 order-md-1">
                <!-- Heading -->
                <h1 class="display-2 text-gradient-1 text-capitalize" data-aos="fade-left" data-aos-duration="150">
                    My <span class="fw-bold">Profile</span>
                </h1>

                <!-- Text -->
                <p class="lead pe-md-8 pe-xl-12 text-capitalize" data-aos="fade-up" data-aos-duration="200">
                    Technology is bringing a massive wave of evolution on learning things in different ways.
                </p>

                <!-- Buttons -->
                <a href="course-list-v1.html" class="btn btn-tangerine btn-wide rounded-lg mb-4 mb-md-0 me-md-5 text-w" data-aos="fade-up" data-aos-duration="200">GET STARTED</a>
                <a href="{% url 'single_course' %}" class="btn btn-gigas btn-wide rounded-lg d-none d-lg-inline-block" data-aos="fade-up" data-aos-duration="200">VIEW COURSES</a>
            </div>
        </div>
        <!-- / .row -->
    </div>
    <!-- / .container -->
    <!-- Shape -->
    <div class="d-none d-wd-block shape shape-blur shape-left shape-fluid-y svg-shim text-white">
        <svg viewBox="0 0 310 800" fill="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px">
            	<path fill="currentColor" d="M193,0H0v800h310c-64.6,0-117-52.4-117-117V0z"/>
            </svg>

    </div>
</section>
{% endblock %}